<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/community" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/community" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>

<!-- CAROUSEL++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="row carouselHeadingDiv">
  <div class="col s12">
    <h4 class="center carouselHeading">Weekly Events</h4>
  </div>
</div>

<div class="carousel carousel-slider center weeklyEvents black-text" data-indicators="true">
  <div class="carousel-fixed-item center carouselCaption">
    <p class="center light">Austin has numerous running groups and there is something going on every day of the week, so get social, and get running!</p>
  </div>
  <div class="carousel-item" href="#one!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Monday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Monday" target="_blank">ARC Mon AM</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#MondayPM" target="_blank">ARC Mon PM</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#two!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Tuesday</h2>
      <ul>
        <li><a class="runGroupLink" href="http://www.lukeslocker.com/Company/News/post.aspx?postID=337" target="_blank">Luke's Taco Run</a></li>
        <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Tuesday" target="_blank">ARC Tue Track</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#three!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Wednesday</h2>
      <ul>
        <li><a class="runGroupLink" href="http://www.lukeslocker.com/Company/News/post.aspx?postID=338" target="_blank">Luke's Social Run</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#four!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Thursday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Thursday" target="_blank">ARC Thur AM</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#ThursdayPM" target="_blank">ARC Thur PM</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#five!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Friday</h2>
    </div>
  </div>
  <div class="carousel-item" href="#six!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Saturday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Saturday" target="_blank">Ship Of Fools</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Saturday" target="_blank">ARC NW</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#seven!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Sunday</h2>
    </div>
  </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="messageBoard">
  <div class="row">
  <h4 class="center">Community Bulletin Board</h4>
  <p class="center light">This is your opportunity to connect with the running community.  Looking for a running buddy? Hosting a group run? Need to plug a race?  This is the spot for you, use this bulletin board to post fliers advertising your own event.</p>  
    <div class="col s12" id="bulletinBoard">
      {{#each messagesForBoard }}
        <div id="messageBoardPost" class="card-panel blue">
          <h5 class="messageBoardHeading white-text center">{{ this.event }}</h5>
          <p class="messageBoardDescription light-green-text text-accent-3">{{ this.description }}</p>
          <p class="messageBoardDate"> {{ this.date }}</p>
          <p class="messageBoardName light-green-text text-accent-3">Posted By: {{this.username}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- ++++++++ -->
<!-- Post Message Form -->
<!-- ++++++++ -->

<div class="row">
  <div class="col s12">
    <div id="messageForm">
      {{#if user}}
        <h4>Post Bulletin</h4>
        <form id="eventForm" action="/event" method="post">
            <label>Name of Event:</label>
            <input type="text" name="event" required="true" maxlength="50" /><br/>
            <label>Date of Event:</label>
            <input type="date" name="date"/>
            <div class="input-field">
              <label>Description:</label>
              <textarea class="materialize-textarea" name="description" length="250" maxlength="250" required="true"></textarea> 
            </div>
            <input type="submit" value="Submit"/>
        </form>
        {{^}}
          <p>Please <a class="modal-trigger" href="#modal1">login</a> to post on the message board</p>
      {{/if}}
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="row">
  <footer class="">
    <div class="col s6">
    </div>
    <div class="col s6">
    </div> 
  </footer>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({full_width: true});
    
    // Automatically show todays events on page load
    var date = new Date();
    var day = date.getDay() - 1;
    $('.carousel.carousel-slider').carousel('set', day);
  });
</script>


