<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username"/><br/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username"/><br/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>

<!-- CAROUSEL++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="row carouselHeadingDiv">
  <div class="col s12">
    <h4 class="center carouselHeading">Weekly Events</h4>
  </div>
</div>

<div class="carousel carousel-slider center weeklyEvents black-text" data-indicators="true">
  <div class="carousel-fixed-item center carouselCaption">
    <p class="center light">Austin has numerous running groups and there is something going on every day of the week, so get social, and get running!</p>
  </div>
  <div class="carousel-item" href="#one!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Monday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Monday" target="_blank">ARC Mon AM</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#MondayPM" target="_blank">ARC Mon PM</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#two!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Tuesday</h2>
      <ul>
        <li><a class="runGroupLink" href="http://www.lukeslocker.com/Company/News/post.aspx?postID=337" target="_blank">Luke's Taco Run</a></li>
        <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Tuesday" target="_blank">ARC Tue Track</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#three!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Wednesday</h2>
      <ul>
        <li><a class="runGroupLink" href="http://www.lukeslocker.com/Company/News/post.aspx?postID=338" target="_blank">Luke's Social Run</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#four!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Thursday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Thursday" target="_blank">ARC Thur AM</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#ThursdayPM" target="_blank">ARC Thur PM</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#five!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Friday</h2>
    </div>
  </div>
  <div class="carousel-item" href="#six!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Saturday</h2>
      <ul>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Saturday" target="_blank">Ship Of Fools</a></li>
         <li><a class="runGroupLink" href="http://austinrunners.org/group-runs/#Saturday" target="_blank">ARC NW</a></li>
      </ul>
    </div>
  </div>
  <div class="carousel-item" href="#seven!">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h2>Sunday</h2>
    </div>
  </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="container">
  <div class="row">
  <h1 class="center">Community Bulletin Board</h1>
    <div class="col s12" id="bulletinBoard">
      {{#each messages }}
        <div id="messageBoardPost" class="card-panel blue">
          <h5 class="messageBoardHeading white-text">{{ this.event }}</h5>
          <p class="messageBoardDescription white-text">{{ this.description }}</p>
          <p class="messageBoardDate white-text">{{ this.date }}</p>
          <p class="messageBoardName white-text">Posted By: {{this.username}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- ++++++++ -->
<!-- I would like for the input form to only be visible if a patient is signed in -->
<!-- ++++++++ -->

  <!-- <div class="row">
    <div class="col s6">
      {{#if user}}
        <h4>Post Event</h4>
        <form id="eventForm" action="/event" method="post">
            <label class="col s3 offset3">Name of Event:</label>
            <input type="text" name="event"/><br/>
            <label>Date of Event:</label>
            <input type="date" name="date"/>
            <label>Description:</label>
            <input type="text" name="description"/>
            <input type="submit" value="Submit"/>
        </form>
        {{^}}
          <p>You must <a href="/login">login</a> or <a href="/register">register</a> to post an event</p>
      {{/if}}
    </div>
    <div class="col s6">
    </div>
	</div> -->

<div class="row">
  <div class="col s6">
    <h4>Post Event</h4>
    <p class="red-text">You must be signed in to post an event</p>
    <form id="eventForm" action="/event" method="post">
        <label class="col s3 offset3">Name of Event:</label>
        <input type="text" name="event"/><br/>
        <label>Date of Event:</label>
        <input type="date" name="date"/>
        <label>Description:</label>
        <input type="text" name="description"/>
        <input type="submit" value="Submit"/>
    </form>
  </div>
  <div class="col s6">
  </div>
</div>

<!-- FOOTER -->
<div class="row">
  <footer class="">
    <div class="col s6">
    </div>
    <div class="col s6">
    </div> 
  </footer>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({full_width: true});
    $('.modal-trigger').leanModal();
    // Automatically show todays events on page load
    var date = new Date();
    var day = date.getDay() - 1;
    $('.carousel.carousel-slider').carousel('set', day);
  });
</script>


